#### TUGAS UTS Pemodelan dan Simulasi Data
###### Dosen Pemangku : Ibu Vinna Rahmayanti

| **NAMA** | Yusril Aminuddin |
|---|---|
| **NIM** | 201910370311366 |
| **KELAS** | PSD D |

#### I. Soal Nomor 1

###### Sebuah bakery menyediakan berbagai jenis makanan ringan setiap harinya. Owner bakery tersebut ingin mengetahui berapa rata-rata penjualan donat yang diproduksi setiap harinya. Data yang dapat diketahui dari bakery tersebut adalah data jumlah customer yang membeli donat dengan mengikuti aturan matematika sebagai berikut :

![Example1](assets/1.png)

###### Customer yang membeli 1, 2, 3, atau 4 lusin donat mengikuti distribusi peluang berikut

![Example2](assets/2.png)

###### Selusin donat dijual sebesar 85.000 rupiah. Bakery membutuhkan 56.000 rupiah untuk membuat selusin donat. Setiap donat yang tidak habis terjual di hari tersebut maka dijual dengan setengah harga setiap 1 donatnya. Buatlah simulasi 100 hari. Kemudian jawab pertanyaan berikut

###### a. Rata-rata penjualan donat setiap hari (satuan : lusin)
###### b. Rata-rata penjualan donat yang tidak habis terjual
###### c. Rata-rata customer membeli berapa lusin donat
###### d. Simulasi dengan Excel dan perhitungan manual
###### e. Simulasi dengan python
###### f. Jelaskan perbedaan dan keunikan dari simulasi yang telah kalian buat.

#### II. Soal Nomor 2

###### Download file csv yang sudah saya upload di googleclasroom. Kerjakan

###### a. Distribusi apa yang sesuai untuk menggambarkan keadaan covid global? Silahkan tunjukkan hasil dan penjelasan selengkap-lengkapnya. Gunakan python untuk menentukan output distribusi
###### b. Distribusi apa yang sesuai untuk menggambarkan keadaan covid China (pilih salah satu kota di China)? Silahkan tunjukkan hasil dan penjelasan selengkap-lengkapnya.
###### c. Distribusi apa yang sesuai untuk menggambarkan keadaan covid Indonesia? Silahkan tunjukkan hasil dan penjelasan selengkap-lengkapnya.
###### d. Hitung rata-rata, ragam, maksimal, minimal berdasarkan masing-masing distribusi yang telah kalian jabarkan di jawaban a dan b untuk kasus covid global, China, dan Indonesia.

#### III. Jawaban Nomor 1

###### membuat model excel terlebih dahulu secara manual, dengan attribut hari dengan value 1 - 100 (studi kasus untuk simulasi 100 hari)

In [1]:
# menampilkan dataset awal

# import library pandas sebagai library dataframe
import pandas as pd

# read csv file 
df = pd.read_csv('Dataset Donat/donat.csv', sep=';')

df.head(100)

    hari
0      1
1      2
2      3
3      4
4      5
..   ...
95    96
96    97
97    98
98    99
99   100

[100 rows x 1 columns]

###### mencari jumlah customer perhari yang diketahui dari tabel pada soal menggunakan Random Number Generator

In [2]:
# import library random sebagai Random Number Generator
import random

# implementasi menggunakan list dengan kriteria :
# list customerPerDay = jumlah customer perhari, dan list probability = peluang
customerPerDay = [8, 10, 12, 14]
probability = [0.35, 0.30, 0.25, 0.10]

# variable untuk menampung jumlah customer per hari
generatedCustomerPerDay = []

# dengan studi kasus selama 100 hari
totalDays = 100

# perulangan membuat list generatedCustomerPerDay selama 100 hari menggunakan library RNG
for i in range(totalDays):
    generatedCustomerPerDay.append(random.choices(customerPerDay, probability))

# delistify generatedCustomerPerDay
generatedCustomerPerDay = [item for sublist in generatedCustomerPerDay for item in sublist]

# print sukses
print("Sukses membuat nilai random customer per hari selama 100 hari")

Sukses membuat nilai random customer per hari selama 100 hari

###### mencari jumlah donat perlusin yang diorder per customer yang diketahui dari tabel pada soal menggunakan Random Number Generator

In [3]:
# import library random sebagai Random Number Generator
import random

# implementasi menggunakan list dengan kriteria :
# list donutPerLoucineOrderedByCustomer = jumlah donat perlusin perhari, dan list probability = peluang
donutPerLoucineOrderedByCustomer = [1, 2, 3, 4]
probability = [0.4, 0.4, 0.2, 0.2]

# dengan studi kasus selama 100 hari
totalDays = 100

# perulangan membuat list generatedDonutPerLoucineOrderedByCustomer selama 100 hari menggunakan library RNG
generatedDonutPerLoucineOrderedByCustomer = []
for i in range(totalDays):
    generatedDonutPerLoucineOrderedByCustomer.append(random.choices(donutPerLoucineOrderedByCustomer, probability))

# delistify generatedDonutPerLoucineOrderedByCustomer
generatedDonutPerLoucineOrderedByCustomer = [item for sublist in generatedDonutPerLoucineOrderedByCustomer for item in sublist]

# print sukses
print("Sukses membuat nilai random donat perlusin perhari percustomer selama 100 hari")

Sukses membuat nilai random donat perlusin perhari percustomer selama 100 hari

###### a. Rata-rata penjualan donat setiap hari (satuan : lusin) ✅

###### Untuk mengetahui rata-rata penjualan donat setiap hari (satuan : lusin) yaitu dengan cara mencari attribut "penjualan_donat" terlebih dahulu dimana nilai nya didapat dari ***ada berapa kostumer yang membeli donut*** atau perhitungan lainnya nya dengan cara mencari hasil dari jumlah_customer * jumlah_donat_per_customer.

###### Setelah mengetahui ***ada berapa kostumer yang membeli donut*** maka kita bisa langsung mencari nilai rata - rata penjualan donat di setiap harinya.

###### Untuk pembuatan attribut jumlah_customer, jumlah_donat_per_customer dan hasil rata - rata dapat dilihat pada simulasi dengan python pada **jawaban poin e**.

###### b. Rata-rata penjualan donat yang tidak habis terjual ✅

###### Diketahui pada soal bahwa tidak ada stok penjualan donat disetiap harinya, maka saya menggunakan nilai rata - rata dari penjualan donat selama 100 hari sebagai **stok penjualan di setiap hari nya**, dengan begitu kita dapat mengetahui attribut ***sisa_penjualan_donat*** untuk nantinya kita cari nilai rata - rata nya.
###### Pertama, kita olah nilai penjualan_donat yang kita dapat dari soal poin a, setelah itu kita mencari nilai rata - rata nya dan menjadikan nya sebagai **stok penjualan di setiap hari nya**.
###### Setelah mendapatkan nilai rata - rata nya / stok penjual di setiap hari nya, maka kita bisa membuat attribut "sisa_penjualan_donat" yang nilainya didapat dari ***ada berapa donat yang kurang dari sama dengan stok penjualan di setiap hari nya yang nantinya stok penjualan di setiap harinya dikurangi dengan masing - masing value yang terpenuhi***, atau perhitungan lainnya nya dengan memfilter nilai yang <= stok penjualan lalu stok penjualan hari ini - nilai yang terfilter. Setelah itu kita menyimpannya pada attribut sisa_penjualan_donat dengan kriteria nilai yang terpenuhi == hasil pengurangan tadi, dan nilai yang tidak terfilter/tidak memenuhi == 0.
###### Setelah mengetahui ***ada berapa donat yang kurang dari sama dengan stok penjualan di setiap hari nya yang nantinya stok penjualan di setiap harinya dikurangi dengan masing - masing value yang terpenuhi*** maka kita bisa langsung mencari nilai rata - rata penjualan donat yang tidak habis terjual.
###### Untuk pembuatan attribut sisa_penjualan_donat dan hasil rata - rata dapat dilihat pada simulasi dengan python pada **jawaban poin e**.

###### c. Rata-rata customer membeli berapa lusin donat ✅

###### Untuk mengetahui rata - rata customer membeli berapa lusin bisa dilihat pada **jawaban poin e**

###### d. Simulasi dengan Excel dan Perhitungan Manual ✅

###### ada di file excel bernama "Simulasi Excel.xlsx"

###### e. Simulasi dengan Python ✅

###### Jumlah customer perhari : yang didapat dari library RNG diatas

In [4]:
# melihat hasil
print("HASIL GENERATE RANDOM NUMBER")
print("Jumlah customer perhari selama 100 hari : ", generatedCustomerPerDay)
print()

print("SUMMARY HASIL GENERATE RANDOM NUMBER")

# simulasi selama 100 hari
print("Simulasi selama :", totalDays, " hari")

# total "8" customer
total8 = generatedCustomerPerDay.count(8)
print("8 customer muncul selama 100 hari : ", total8, "x")

# total "10" customer
total10 = generatedCustomerPerDay.count(10)
print("10 customer muncul selama 100 hari : ", total10, "x")

# total "12" customer
total12 = generatedCustomerPerDay.count(12)
print("12 customer muncul selama 100 hari : ", total12, "x")

# total "14" customer
total14 = generatedCustomerPerDay.count(14)
print("14 customer muncul selama 100 hari : ", total14, "x")

# total customer
totalCustomer = sum(generatedCustomerPerDay)
print("Total customer selama 100 hari : ", totalCustomer, "customer")

HASIL GENERATE RANDOM NUMBER
Jumlah customer perhari selama 100 hari :  [12, 8, 12, 12, 10, 14, 12, 12, 12, 12, 8, 8, 8, 12, 14, 10, 8, 12, 8, 10, 12, 14, 8, 14, 10, 14, 10, 10, 10, 14, 12, 8, 12, 12, 14, 10, 10, 14, 10, 8, 10, 14, 10, 8, 12, 10, 12, 12, 8, 10, 12, 12, 10, 10, 8, 12, 8, 10, 12, 12, 12, 8, 8, 12, 8, 10, 8, 14, 8, 12, 8, 12, 8, 14, 8, 8, 8, 8, 12, 10, 8, 12, 12, 8, 10, 8, 8, 8, 12, 14, 8, 10, 10, 12, 10, 8, 14, 8, 8, 12]

SUMMARY HASIL GENERATE RANDOM NUMBER
Simulasi selama : 100  hari
8 customer muncul selama 100 hari :  33 x
10 customer muncul selama 100 hari :  23 x
12 customer muncul selama 100 hari :  31 x
14 customer muncul selama 100 hari :  13 x
Total customer selama 100 hari :  1048 customer

###### Jumlah donat perlusin yang diorder per customer per hari : yang didapat dari library RNG diatas

In [5]:
# melihat hasil
print("HASIL GENERATE RANDOM NUMBER")
print("Jumlah donat perlusin percustomer perhari selama 100 hari : ", generatedDonutPerLoucineOrderedByCustomer)
print()

print("SUMMARY HASIL GENERATE RANDOM NUMBER")

# simulasi selama 100 hari
print("Simulasi selama :", totalDays, " hari")

# total "1" lusin donat
total1 = generatedDonutPerLoucineOrderedByCustomer.count(1)
print("1 lusin donat muncul selama 100 hari : ", total1, "x")

# total "2" lusin donat
total2 = generatedDonutPerLoucineOrderedByCustomer.count(2)
print("2 lusin donat muncul selama 100 hari : ", total2, "x")

# total "3" lusin donat
total3 = generatedDonutPerLoucineOrderedByCustomer.count(3)
print("3 lusin donat muncul selama 100 hari : ", total3, "x")

# total "4" lusin donat
total4 = generatedDonutPerLoucineOrderedByCustomer.count(4)
print("4 lusin donat muncul selama 100 hari : ", total4, "x")

# total donat
totalDonat = sum(generatedDonutPerLoucineOrderedByCustomer)
print("Total donat selama 100 hari : ", totalDonat, "lusin")

HASIL GENERATE RANDOM NUMBER
Jumlah donat perlusin percustomer perhari selama 100 hari :  [2, 1, 1, 1, 1, 4, 4, 1, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 3, 3, 3, 2, 2, 1, 4, 3, 2, 2, 3, 2, 4, 1, 2, 3, 3, 2, 1, 2, 2, 1, 4, 1, 4, 1, 2, 3, 4, 1, 4, 2, 2, 3, 3, 1, 1, 2, 1, 2, 1, 1, 2, 3, 3, 2, 2, 1, 2, 2, 1, 2, 4, 4, 3, 3, 3, 1, 1, 4, 1, 1, 2, 1, 4, 3, 4, 1, 4, 1, 1, 1, 4, 2, 1, 2, 2, 1, 1, 3, 3, 1]

SUMMARY HASIL GENERATE RANDOM NUMBER
Simulasi selama : 100  hari
1 lusin donat muncul selama 100 hari :  35 x
2 lusin donat muncul selama 100 hari :  32 x
3 lusin donat muncul selama 100 hari :  18 x
4 lusin donat muncul selama 100 hari :  15 x
Total donat selama 100 hari :  213 lusin

###### Pembuatan/append attribut "jumlah_customer" dan "jumlah_donat_per_customer" hasil RNG

In [6]:
# append hasil RNG yang telah di generate ke data frame
df['jumlah_customer'] = generatedCustomerPerDay
df['jumlah_donat_per_customer'] = generatedDonutPerLoucineOrderedByCustomer

df.head(100)

    hari  jumlah_customer  jumlah_donat_per_customer
0      1               12                          2
1      2                8                          1
2      3               12                          1
3      4               12                          1
4      5               10                          1
..   ...              ...                        ...
95    96                8                          1
96    97               14                          1
97    98                8                          3
98    99                8                          3
99   100               12                          1

[100 rows x 3 columns]

###### Pembuatan/append attribut "penjualan_donat" hasil perkalian dari attribut "jumlah_customer" dengan "jumlah_donat_per_customer"

In [7]:
# append hasil ke data frame
df['penjualan_donat'] = df['jumlah_customer'] * df['jumlah_donat_per_customer']

df.head(100)

    hari  jumlah_customer  jumlah_donat_per_customer  penjualan_donat
0      1               12                          2               24
1      2                8                          1                8
2      3               12                          1               12
3      4               12                          1               12
4      5               10                          1               10
..   ...              ...                        ...              ...
95    96                8                          1                8
96    97               14                          1               14
97    98                8                          3               24
98    99                8                          3               24
99   100               12                          1               12

[100 rows x 4 columns]

######  Rata - rata penjualan donat setiap hari (satuan : lusin) ✅

In [8]:
# perhitungan rata - rata (satuan lusin) penjualan donat
rataRataPenjualanDonat = df['penjualan_donat'].mean()

print("Rata - rata penjualan donat setiap hari : ", rataRataPenjualanDonat, "lusin")

Rata - rata penjualan donat setiap hari :  22.24 lusin

###### Mencari nilai rata - rata penjualan donat, membulatkannya, dan menjadikannya sebagai patokan stok penjualan setiap hari

In [9]:
# code sama seperti cell diatas
# stok penjualan disetiap harinya diambil dari rata - rata penjualan donat
stokPenjualanDonat = df['penjualan_donat'].mean()

# pembulatan stock penjualan donat
stokPenjualanDonat = round(stokPenjualanDonat)
print("Stok penjualan donat setiap hari : ", stokPenjualanDonat, "lusin")

Stok penjualan donat setiap hari :  22 lusin

###### Pembuatan/append attribut "sisa_penjualan_donat"

In [10]:
# sisa penjualan donat
df['sisa_penjualan_donat'] = df['penjualan_donat'].apply(lambda x: stokPenjualanDonat - x if x <= stokPenjualanDonat else 0)

df.head(100)

,hari,jumlah_customer,jumlah_donat_per_customer,penjualan_donat,sisa_penjualan_donat
0,1,12,2,24,0
1,2,8,1,8,14
2,3,12,1,12,10
3,4,12,1,12,10
4,5,10,1,10,12
...,...,...,...,...,...
95,96,8,1,8,14
96,97,14,1,14,8
97,98,8,3,24,0
98,99,8,3,24,0
99,100,12,1,12,10

######  Rata-rata penjualan donat yang tidak habis terjual ✅

In [11]:
# rata - rata sisa penjualan donat di setiap hari nya
rataRataSisaPenjualanDonat = df['sisa_penjualan_donat'].mean()

# menampilkan hasil
print("Rata - rata penjualan donat yang tidak habis terjual : ", rataRataSisaPenjualanDonat, "lusin")

Rata - rata penjualan donat yang tidak habis terjual :  4.66 lusin

###### Filtering berapa customer yang membeli setiap lusin donat, dan append sebagai kolom baru

In [12]:
# filter value "1" lusin donat and create new column "1_lusin_donat"
df['1_lusin_donat'] = df['jumlah_donat_per_customer'].apply(lambda x: 1 if x == 1 else 0)

# filter value "2" lusin donat and create new column "2_lusin_donat"
df['2_lusin_donat'] = df['jumlah_donat_per_customer'].apply(lambda x: 1 if x == 2 else 0)

# filter value "3" lusin donat and create new column "3_lusin_donat"
df['3_lusin_donat'] = df['jumlah_donat_per_customer'].apply(lambda x: 1 if x == 3 else 0)

# filter value "4" lusin donat and create new column "4_lusin_donat"
df['4_lusin_donat'] = df['jumlah_donat_per_customer'].apply(lambda x: 1 if x == 4 else 0)

df.head(100)

,hari,jumlah_customer,jumlah_donat_per_customer,penjualan_donat,sisa_penjualan_donat,1_lusin_donat,2_lusin_donat,3_lusin_donat,4_lusin_donat
0,1,12,2,24,0,0,1,0,0
1,2,8,1,8,14,1,0,0,0
2,3,12,1,12,10,1,0,0,0
3,4,12,1,12,10,1,0,0,0
4,5,10,1,10,12,1,0,0,0
...,...,...,...,...,...,...,...,...,...
95,96,8,1,8,14,1,0,0,0
96,97,14,1,14,8,1,0,0,0
97,98,8,3,24,0,0,0,1,0
98,99,8,3,24,0,0,0,1,0
99,100,12,1,12,10,1,0,0,0

###### Rata-rata customer membeli berapa lusin donat ✅

In [13]:
# average 1 lusin donat
rataRata1LusinDonat = df['1_lusin_donat'].mean()
print("Rata - rata customer yang membeli 1 lusin donat : ", rataRata1LusinDonat)

# average 2 lusin donat
rataRata2LusinDonat = df['2_lusin_donat'].mean()
print("Rata - rata customer yang membeli 2 lusin donat : ", rataRata2LusinDonat)

# average 3 lusin donat
rataRata3LusinDonat = df['3_lusin_donat'].mean()
print("Rata - rata customer yang membeli 3 lusin donat : ", rataRata3LusinDonat)

# average 4 lusin donat
rataRata4LusinDonat = df['4_lusin_donat'].mean()
print("Rata - rata customer yang membeli 4 lusin donat : ", rataRata4LusinDonat)
print()

print("Maka, didapat hasil tertinggi diantara 1 - 4 lusin donat sebagai rata-rata customer membeli berapa lusin donat", )

Rata - rata customer yang membeli 1 lusin donat :  0.35
Rata - rata customer yang membeli 2 lusin donat :  0.32
Rata - rata customer yang membeli 3 lusin donat :  0.18
Rata - rata customer yang membeli 4 lusin donat :  0.15

Maka, didapat hasil tertinggi diantara 1 - 4 lusin donat sebagai rata-rata customer membeli berapa lusin donat

###### Simpan hasil akhir dataset sebagai "output_donat.csv"

In [14]:
# menyimpan hasil dataframe ke file csv
df.to_csv('Dataset Donat/output_donat.csv', sep=';', index=False)

#### IV. Jawaban Nomor 2